<%= form_for @actor do |f| %>
	<% if @actor.errors.any? %>
		<div id="error_explanation">
			<h2><%= "#{pluralize(@actor.errors.count, "error")} prohibited this actor from being saved:" %></h2>
			<ul>
				<% @actor.erros.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :bio %>
		<%= f.text_area :bio %>
	</div>
	<div>
		<%= f.label :birth_date %>
		<%= f.date_field :birth_date %>
	</div>
	<div>
		<%= f.label :birth_place %>
		<%= f.text_field :birth_place %>
	</div>
	<div>
		<%= f.label :image_url %>
		<%= f.text_field :image_url %>
	</div>
	<div>
		<%= f.label :alive %>
		<%= f.check_box :alive %>
	</div>
	<div>
		<%= f.label :death_date %>
		<%= f.date_field :death_date %>
	</div>
	<div>
		<%= f.label :death_place %>
		<%= f.text_field :death_place %>
	</div>

	<%= f.submit "Guardar" %>
<% end %>